#mainPage{
    background: rgba(171, 156, 40, 0.32);
    border: 8px solid black;
}

#menuTitle{
    font-style: italic;
     font-family: "Times New Roman", Times, serif;
     text-align: center;
     margin-top: 20px;
}

#sections{
    
}

.nameOfSection{
    font-style: initial;
     font-family: "Times New Roman", Times, serif;
     text-align: center;
     margin-top: 20px;
}

.Section{
    
}

.item{
   
}

.nameOfItem{
    font-style: inherit;
     font-family: "Times New Roman", Times, serif;
     text-align: center;
     
}

.descriptionOfItem{
    font-style: normal;
     font-family: "Times New Roman", Times, serif;
     text-align: center;
    
}

.priceOfItem{
    font-style: oblique;
     font-family: "Times New Roman", Times, serif;
     text-align: center;
}