#mainPage{
    background: rgba(223, 209, 101, 0.32);
    border: 4px solid black;
    width: 816px;
    height: 1056px; 
}

#menuTitle{
    font-style: normal;
     text-align: center;
     margin-top: 20px;
     color: rgb(118, 63, 0);
}

#sections{
    margin-right: 50px;
    margin-left: 200px;

}

.nameOfSection{
    font-style: normal;
     text-align: start;
     margin-top: 20px;
     margin-right: 25px;
     padding-left: 10px;
     color: rgba(250, 244, 210, 0.99);
     background: rgb(118, 63, 0);
     /*border: 1px; ?
     border-color: rgb(118, 63, 0);
     */

}

.Section{
    margin-left: 10px;
}

.item{
   
}

.nameOfItem{
    font-style: normal;
     text-align: justify;
     color: rgb(118, 63, 0);
     margin-bottom: 0px;
     
}

p{
	font-style: normal;
	 color: rgb(118, 63, 0);

}

.descriptionOfItem{ 
   margin-top: 1px;
     text-align: justify;
    
}

.priceOfItem{
    size: 10px;
     text-align: right;
}