#mainPage{
    background: rgba(223, 209, 101, 0.32);
    border: 4px solid black;
}

#menuTitle{
    font-style: normal;
     text-align: center;
     margin-top: 20px;
     color: rgb(118, 63, 0);
}

#sections{
    
}

.nameOfSection{
    font-style: normal;
     text-align: center;
     margin-top: 20px;
     margin-left: 125px;
     margin-right: 125px;
     color: rgba(250, 244, 210, 0.99);
     background: rgb(118, 63, 0);

}

.Section{
    
}

.item{
   
}

.nameOfItem{
    font-style: normal;
     text-align: center;
     
}

.descriptionOfItem{
    font-style: normal;
    
     text-align: center;
    
}

.priceOfItem{
    font-style: italic;
     text-align: center;
}